# --- FILE RAHASIA (JANGAN UPLOAD) ---
kaggle.json
.env

# --- FOLDER DATASET BESAR (JANGAN UPLOAD) ---
asl_alphabet_train/
asl_alphabet_test/
dataset_skeleton_kag/
dataset_sendiri/
BP/
dataset_skeleton_kag.zip

# --- SAMPAH SISTEM ---
env/
__pycache__/
*.DS_Store
Penjelasan.mp4
